.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    position: relative;
    margin-bottom: 150px;

    @media (max-width: 968px) {
        gap: 20px;
        margin-bottom: 32px;
    }
}

.description {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #6244a8;
    font-size: 26px;
    line-height: 130%; /* 33.8px */
    letter-spacing: -0.78px;
    position: relative;

    & .arrow {
        position: absolute;
        top: -45px;
        right: -42%;
    }

    @media (max-width: 968px) {
        font-size: 12px;
        line-height: 130%; /* 15.6px */
        letter-spacing: -0.36px;

        .playIcon {
            width: 16px;
            height: 16px;
        }

        & .arrow {
            width: 80%;
            position: absolute;
            top: -25px;
            right: -50%;
            transform: rotate(17.731deg);
        }
    }
}

.videoContainer {
    width: 100%;
    max-width: 1166px;
    height: 645px;
    border-radius: 26px;
    overflow: hidden;
    box-shadow: 0px 21px 66px 0px rgba(59, 34, 135, 0.25);
    filter: brightness(40%);

    &.started {
        filter: brightness(100%);
        transition: filter 0.3s ease;
    }

    video {
        width: 100%;
        height: 100%;
        min-height: 230px;
        object-fit: cover;
    }

    @media (max-width: 968px) {
        height: auto;
        min-height: 230px;
        border-radius: 9px;
    }
}

.videoBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
}

.playBtn {
    width: 320px;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 3px solid #fff;
    background: rgba(217, 217, 217, 0.1);
    backdrop-filter: blur(4px);
    --webkit-backdrop-filter: blur(4px);
    cursor: pointer;
    transition: filter 0.3s ease;

    &:hover {
        filter: brightness(80%);
    }

    @media (max-width: 968px) {
        width: 110px;
        height: 110px;
        border-width: 1px;
        margin-bottom: 10px;

        img {
            width: 25px;
            height: 25px;
        }
    }
}

.videoText {
    color: #fff;
    font-size: 36px;
    font-weight: 500;
    line-height: 52.278px; /* 145.283% */
    letter-spacing: -2.159px;
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
        color: #fff;
        font-size: 21px;
        line-height: 31px; /* 145.283% */
        letter-spacing: -1.281px;
    }

    @media (max-width: 968px) {
        font-size: 14px;
        line-height: 18px; /* 145.283% */
        letter-spacing: -0.748px;

        span {
            font-size: 10px;
            line-height: 10px; /* 145.283% */
            letter-spacing: -0.444px;
        }
    }
}
