.rbc-time-view {
  .rbc-allday-cell {
    padding: 0;
    height: 0;
  }

  .rbc-header {
    border-color: #ececec;
    border-bottom: none;
  }

  .rbc-button-link {
    width: 100%;
    cursor: default;
    border: none;
    background: none;
    outline: none;
  }
}

.rbc-time-view {
  border-color: #ececec;
}

.rbc-time-content {
  border-top: 1px solid #ececec;
}

.rbc-timeslot-group {
  border-bottom: 1px solid #ececec;
}

.rbc-time-content > * + * > * {
  border-left: 1px solid #ececec;
}

.rbc-current-time-indicator {
  display: none;
}

.rbc-time-gutter.rbc-time-column {
  .rbc-timeslot-group {
    border-bottom: 1px solid white;
    background-color: white;

    .rbc-time-slot {
      display: flex;
      align-items: flex-start;
      width: 35.5px;
    }

    .rbc-label {
      color: #000;
      font-size: 10px;
      font-weight: 400;
      line-height: 0%; /* 0px */
      letter-spacing: 0.1px;
      margin-top: -5px;
    }
  }
}

// .rbc-timeslot-group {
//     max-height: 80px;
// }

.rbc-time-header-content {
  border-color: #ececec;
}

.rbc-event-label {
  display: none;
}

.dayHeaderCell {
  p {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #a89dad;
    font-size: 14px;
    line-height: 100%; /* 14px */
    letter-spacing: 0.14px;
    font-weight: 400;

    span {
      color: #000;
      display: flex;
      width: 26px;
      height: 26px;
      padding: 10px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 8px;
      // background: #d5bfe6;
    }
  }
}

.rbc-header.rbc-today,
.rbc-today {
  .rbc-timeslot-group {
    border-bottom: 1px solid #ecdff1;
  }

  .dayHeaderCell {
    p {
      color: #000;

      span {
        background: #d5bfe6;
      }
    }
  }

  background: #fcf7ff;
}
