.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 134px 30px 30px;

  @media (max-width: 968px) {
    padding: 100px 20px 20px;
  }
}

.aiAssistant {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 500;
  line-height: 39px; /* 129.951% */
  background: linear-gradient(180deg, #723deb 0%, #6f8bff 153.86%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;

  @media (max-width: 968px) {
    font-size: 16px;
    line-height: 22px; /* 137.631% */
    gap: 5px;
    margin-bottom: 0;

    img {
      width: 12px;
      height: 20px;
    }
  }
}

// .animationFrame {
//     width: 500px;

//     @media (max-width: 968px) {
//         width: 350px;
//     }
// }

.animationFrame {
  width: 100px;
}

.presentation {
  color: #000;
  text-align: center;
  font-size: 38px;
  line-height: 132%; /* 132.5% */
  letter-spacing: -2px;
  margin-bottom: 45px;
  cursor: default;

  .greenBg {
    display: inline-flex;
    padding: 0 14px;
    border-radius: 18px;
    background: #a0d079;
    box-shadow: 1.274px -1.274px 5.094px 0px #2a8f0c inset,
      1.274px 2.547px 5.094px 0px #e2ffbc inset,
      0px 3.821px 7.386px 0px rgba(85, 196, 5, 0.23),
      0px 1.274px 2.42px 0px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease;
    color: #21762b;
    font-weight: 700;
    line-height: 150%; /* 68.77px */
    letter-spacing: -0.917px;

    &:hover {
      transform: rotate(-0.953deg);
    }
  }

  .purpleBg {
    display: inline-flex;
    padding: 0 14px;
    border-radius: 18px;
    background: linear-gradient(0deg, #ddbfff -24.71%, #c79fff 100%);
    box-shadow: 1.274px -1.274px 5.094px 0px #7823d8 inset,
      1.274px 2.547px 5.094px 0px #ffe9e9 inset,
      0px 3.821px 7.386px 0px rgba(123, 8, 149, 0.23),
      0px 1.274px 2.42px 0px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease;
    color: #8734fa;
    font-weight: 700;
    line-height: 150%; /* 68.77px */
    letter-spacing: -0.917px;

    &:hover {
      transform: rotate(-0.909deg);
    }
  }

  .redBg {
    display: inline-flex;
    padding: 0 14px;
    border-radius: 18px;
    background: linear-gradient(0deg, #ff957d -24.71%, #ffc79f 100%);
    box-shadow: 1.274px -1.274px 5.094px 0px #f42d2d inset,
      1.274px 2.547px 5.094px 0px #fffbbf inset,
      0px 3.821px 7.386px 0px rgba(8, 97, 149, 0.23),
      0px 1.274px 2.42px 0px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease;
    color: #ff4f23;
    font-weight: 700;
    line-height: 150%; /* 68.77px */
    letter-spacing: -0.917px;

    &:hover {
      transform: rotate(1.446deg);
    }
  }

  strong {
    font-weight: 600;
  }

  @media (max-width: 968px) {
    font-size: 24px;
    line-height: 38px; /* 158.333% */
    letter-spacing: -1.2px;
    font-weight: 400;

    br {
      display: none;
    }

    .greenBg,
    .purpleBg,
    .redBg {
      border-radius: 10px;
      padding: 0 7px;
    }
  }
}

.buttonsContainer {
  display: flex;
  gap: 30px;
  margin-bottom: 55px;

  @media (max-width: 968px) {
    flex-direction: column;
    align-items: center;
  }
}

.freeButton {
  width: fit-content;
  height: 70px;
  padding: 0px 26px;
  color: #000;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  line-height: 130%; /* 51.874px */
  letter-spacing: -1.197px;
  border-radius: 20px;
  border: 1px solid #99c679;
  background: #b3db8f;
  outline: 2px solid rgba(179, 219, 143, 0.3);
  transition: all 0.3s ease;

  &:hover {
    background: #a0cd78;
    outline: 3px solid rgba(179, 219, 143, 0.3);
  }

  @media (max-width: 968px) {
    width: 230px;
    height: 50px;
    padding: 0px 16px;
    border-radius: 12px;
    font-size: 22px;
    letter-spacing: -0.66px;
  }
}

.testButton {
  width: fit-content;
  height: 70px;
  padding: 0px 26px;
  display: flex;
  align-items: center;
  gap: 15px;
  color: #222;
  font-size: 30px;
  font-weight: 500;
  line-height: 130%; /* 52px */
  letter-spacing: -1.2px;
  border-radius: 20px;
  border: 1px solid #00c76e;
  background: #fff;

  @media (max-width: 968px) {
    width: 230px;
    height: 50px;
    justify-content: center;
    padding: 0px 18px;
    border-radius: 12px;
    font-size: 22px;
    letter-spacing: -0.66px;
    gap: 10px;

    img {
      width: 24px;
      height: 24px;
    }
  }
}

.description {
  color: #000;
  text-align: center;
  font-size: 46px;
  line-height: 67.497px; /* 132.5% */
  letter-spacing: -2.547px;
  margin-bottom: 20px;

  .blue {
    padding: 0 14px;
    border-radius: 14px;
    background: linear-gradient(0deg, #bfe7ff -24.71%, #9fdaff 100%);
    box-shadow: 1px -1px 4px 0px #55a1f8 inset, 1px 2px 4px 0px #e9fdff inset,
      0px 3px 5.8px 0px rgba(8, 97, 149, 0.23),
      0px 1px 1.9px 0px rgba(0, 0, 0, 0.25);
    color: #348afa;
    font-size: 50px;
    font-weight: 700;
    line-height: 0%; /* 0px */
    letter-spacing: -1px;
  }

  @media (max-width: 968px) {
    font-size: 22px;
    line-height: 38px; /* 172.727% */
    letter-spacing: -1.1px;

    .blue {
      padding: 0 10px;
      font-size: 24px;
      font-weight: 700;
      letter-spacing: -0.48px;
      border-radius: 10px;
    }
  }
}

.helloContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  text-align: center;
  position: relative;
  color: #6244a8;
  font-size: 26px;
  line-height: 130%; /* 33.8px */
  letter-spacing: -0.78px;

  .outlineIcon {
    position: absolute;
    top: -10px;
    right: 15px;
    z-index: -1;
  }

  @media (max-width: 968px) {
    font-size: 12px;
    letter-spacing: -0.36px;

    .outlineIcon {
      width: 37px;
      top: -3px;
      right: 9px;
    }

    .arrowDown {
      height: 20px;
    }
  }
}
