.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 116px 30px 93px;

    @media (max-width: 968px) {
        padding: 40px 20px 50px;
    }
}

.title {
    color: #000;
    text-align: center;
    font-size: 100px;
    font-weight: 500;
    line-height: 108.245px; /* 90.204% */
    letter-spacing: -4.8px;
    margin-bottom: 10px;

    @media (max-width: 968px) {
        font-size: 40px;
        line-height: 100%;
        letter-spacing: -1.6px;
    }
}

.description {
    color: #000;
    text-align: center;
    font-size: 50px;
    line-height: 58px; /* 116% */
    letter-spacing: -2.5px;
    margin-bottom: 90px;

    @media (max-width: 968px) {
        font-size: 18px;
        line-height: 130%; /* 23.4px */
        letter-spacing: -0.54px;
        font-weight: 400;

        br {
            display: none;
        }
    }
}

.cardsContainer {
    width: 100%;
    max-width: 1350px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 30px;

    @media (max-width: 968px) {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }
}
